<%- include("header") %>

<body>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">LIÊN HỆ</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">LIÊN HỆ</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-xxl contact py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <p class="fs-4 fw-medium  text-primary">DỊCH VỤ KHÁCH HÀNG</p>
            <h1 class="display-8">Hướng tới chất lượng dịch vụ cao cấp, ABC chú trọng mang đến trải nghiệm tốt nhất cho Quý khách, đồng thời sẵn sàng lắng nghe mọi chia sẻ và hỗ trợ tận tình trong suốt quá trình sử dụng sàn phẩm</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-envelope fa-2x text-white"></i>
                </div>
                <p class="mb-2">info@gmail.com</p>
                <p class="mb-0">support@gmail.com</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-phone fa-2x text-white"></i>
                </div>
                <p class="mb-2">0123 456 789</p>
                <p class="mb-0">0987 654 321</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="btn-square mx-auto mb-3">
                    <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                </div>
                <p class="mb-2">Số 8 , Tôn Thất Thuyết</p>
                <p class="mb-0">Hà Nội, Việt Nam</p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="mb-4">HỖ TRỢ</h3>
                <p class="mb-4">Nếu có bất kỳ thắc mắc nào, hãy gửi yêu cầu hỗ trợ cho chúng tôi</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Tên</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Địa chỉ Email">
                                <label for="email">Địa chỉ Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="phone" placeholder="Số Điện Thoại">
                                <label for="subject">Số Điện Thoại</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 120px"></textarea>
                                <label for="message">Nội dung cần hỗ trợ</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" onclick="sendMail()">Gửi tin</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <iframe class="w-100 rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1030107750353!2d105.78332850000001!3d21.028563899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cdef48301%3A0x9e3f57b9adf0d78!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1688822596691!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="500" height=" 700"></iframe>  

                        </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
</body>
<%- include("footer") %>