<%- include("header") %>

<body>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">PASCAL IMITATION JEWELLERY</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Store</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Vòng tay</p>
            <h1 class="display-6">Các mẫu vòng tay đẹp đến từ các thương hiệu nổi tiếng thế giới</h1>
        </div>

        <nav id="nav-bar">
            <ul class="menu-level-1">
                <li class="item-level-1">
                    <a href="#" class="item-level-1-title">Bản gốc</a>
                    <ul class="menu-level-2">
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Bản gốc 1</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Bản gốc 2</a>
                        </li>
                    </ul>
                </li>
    
                <li class="item-level-1">
                    <a href="#" class="item-level-1-title">Bản quý</a>
                    <ul class="menu-level-2">
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Bản quý 1</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Bản quý 2</a>
                        </li>
                    </ul>
                </li>
    
                <li class="item-level-1">
                    <a href="#" class="item-level-1-title">Nhân tạo</a>
                    <ul class="menu-level-2">
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Nhân tạo 1</a>
                        </li>
                        <li class="item-level-2">
                            <a href="#" class="item-level-2-title">Nhân tạo 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="row g-4" id="product">
            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="https://lili.vn/wp-content/uploads/2022/06/Mat-day-chuyen-bac-nu-dinh-kim-cuong-Moissanite-tron-cach-dieu-LILI_413898_6-400x400.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Vòng tay vàng 18K</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="https://lili.vn/wp-content/uploads/2022/06/Mat-day-chuyen-bac-nu-dinh-kim-cuong-Moissanite-tron-cach-dieu-LILI_413898_6-400x400.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Vòng tay đá màu Swarovki</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="https://lili.vn/wp-content/uploads/2022/06/Mat-day-chuyen-bac-nu-dinh-kim-cuong-Moissanite-tron-cach-dieu-LILI_413898_6-400x400.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Vòng tay vàng trắng</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="https://lili.vn/wp-content/uploads/2022/06/Mat-day-chuyen-bac-nu-dinh-kim-cuong-Moissanite-tron-cach-dieu-LILI_413898_6-400x400.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Vòng tay kim cương</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="https://lili.vn/wp-content/uploads/2022/06/Mat-day-chuyen-bac-nu-dinh-kim-cuong-Moissanite-tron-cach-dieu-LILI_413898_6-400x400.jpg" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"  ></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">Vòng tay kim cương vàng trắng</h4>
                        <p>Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum lorem sit sed</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
            </div>
        </div>
    </div>
</div>
<!-- Store End -->
</body>
<%- include("footer") %>