<%- include("header") %>

<body>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Ours Store</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Store</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Online Store</p>
            <h1 class="display-6">Want to stay beauty? </h1>
        </div>
        <div class="row g-4" id="mock">
            <% for(let index = 0; index < 3; index++) { %>
                <%- include('./template/store-item.template.ejs', {product: product[index], index: index}) %>
            <% } %>
        </div>
        <div  class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
            <a href="" id="viewMore" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
        </div>
    </div>
</div>
<!-- Store End -->
</body>
<div id="productHidden" style="display: none;">
    <% for(let index = 3; index < product.length; index++) { %>
        <%- include('./template/store-item.template.ejs', {product: product[index], index: index}) %>
    <% } %>
</div>
<script type="text/javascript">    
   const buttonViewMore = document.querySelector('#viewMore'),
         productHidden = document.querySelector('#productHidden'),
         mock = document.querySelector('#mock')
   buttonViewMore.addEventListener(
    'click', (event) => {
        event.preventDefault();
        mock.innerHTML += productHidden.innerHTML;
        buttonViewMore.style.display = 'none';
    }
   )
</script>

<%- include("footer") %>