<div class="testimonial-item p-4 p-lg-5">
    <p class="mb-4"><%= message.message %></p>
    <div class="d-flex align-items-center justify-content-center">
        <img class="img-fluid flex-shrink-0" src="https://drive.google.com/uc?export=view&id=198PSk3gF0YlanqGcaEz_8LSTCuUQ_opZ" alt="">
        <div class="text-start ms-3">
            <h5><%= message.customerName %></h5>
            <span class="text-primary"><%= message.customerEmail %></span>
        </div>
    </div>
</div>