<a href="/store/<%= product.id %>" class="d-block product-item rounded">
    <img src="<%= product.image %>" alt="" >
    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
        <h4 class="text-primary"><%= product.name %></h4>
        <span class="text-body"><%= product.description %></span>
    </div>
</a>